section.section__outfit {
  display: flex;
  flex-wrap: wrap;
}

section.section__outfit > * {
  margin: 3rem;
}

section.section__outfit .outfit_title {
  flex: 1 0 100%;
}
section.section__outfit .outfit_image {
  flex: 1 1 20%;
}

section.section__outfit .outfit_image img {
  max-width: 100%;
  height: auto;
}

section.section__outfit .outfit_description {
  flex: 1 1 25%;
}

section.section__outfit .outfit_description p {
  margin: unset;
}

section.section__outfit .outfit_products {
  flex: 1 1 25%;
}