section-outfit.section__outfit {
  display: flex;
  flex-wrap: wrap;
}

section-outfit.section__outfit > * {
  margin: 3rem;
}

section-outfit.section__outfit .outfit_title {
  flex: 1 0 100%;
}
section-outfit.section__outfit .outfit_image {
  flex: 1 1 20%;
}

section-outfit.section__outfit .outfit_image img {
  max-width: 100%;
  height: auto;
}

section-outfit.section__outfit .outfit_description {
  flex: 1 1 25%;
}

section-outfit.section__outfit .outfit_description p {
  margin: unset;
}

section-outfit.section__outfit .outfit_products {
  flex: 1 1 25%;
}
  
  section-outfit .variant-select {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  section-outfit .outfit-warning {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  